*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.rob{
    color: white;
    background: radial-gradient(rgb(33,42,57), rgb(25, 35, 51));
    /*background: radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));*/
}
@font-face{
    font-family: PopLight;
    src: url('Poppins/Poppins-Light.ttf');
}
@font-face{
    font-family: PopReg;
    src: url('Poppins/Poppins-Regular.ttf');
}
nav{
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: PopReg;
    color: white;
}
nav svg{
    cursor: pointer; 
}
nav svg:hover {
    transform: scale(1.2);
}
nav svg{
    transition: all 0.5s;
    transform-origin: 50% 50%;
  }
.mobile{
   opacity: 0;
   pointer-events: none;
}
.page{
    min-height: 90vh;
}

.details{
    min-height: 33vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.details h1{
    font-size: 54px;
}
.details h2{
    font-size: 32px;
    font-family: PopLight;
    padding: 20px 0px;
}
.pages{
    position: absolute;
    right: 5%;
    top: 30%;
    transform: translateY(-50%);
}
.pages > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages h3{
    font-size: 24px;
    padding: 20px;
    color: white;
}
.pages svg{
    cursor: pointer;
    opacity: 0.5;
    transform: scale(2);
}
.pages svg:hover{
    animation: dot 0.5s ease infinite alternate;
}
.pages svg.active{
    opacity: 1;
}
@keyframes dot {
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(2.5);
    }
}

.about{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 90vh;
    color: white;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    align-self: center;
    justify-content: center;
    justify-items: center;
    opacity: 0;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color:radial-gradient(rgb(33,42,57), rgb(25, 35, 51));
    height: auto;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content:before{
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 200%;
  }
  
  /* The Close Button */
 
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.about p{
    font-family: PopReg;
    font-size: 18px;
    
}
.about h3{
    font-family: PopReg;
    font-size: 42px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    
}
.textwithpicture{
    display: flex;
}
.textwithpicture p{
    padding-left: 25px;
}
.scrolling{
    height: 70vh;
    padding-bottom: 20%;
    overflow-y: scroll;
    padding-right: 40px;
}
.scrolling::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #969696;
}

.scrolling::-webkit-scrollbar
{
	width: 12px;
	background-color: radial-gradient(rgb(33,42,57), rgb(25, 35, 51));
}

.scrolling::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.projects{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 90vh;
    color: white;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    align-self: center;
    justify-content: center;
    justify-items: center;
    opacity: 0;
}
.projects p{
    font-family: PopReg;
    font-size: 18px;
    
}
.projects h3{
    font-family: PopReg;
    font-size: 42px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    
}
.app-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 15%;
    
}
.app-1:hover{
    cursor: pointer;
}
.modal-app-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.link-1{
    margin-top: 30px;
    text-align: center;
    margin-left: -48px;
    margin-right: auto;
}
.link-1 a{
    color: white;
    font-size: 18px;
}
.projects a:hover{
    color: blueviolet;
}
.nav-open{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:40vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
    align-items: center;
    transform: translateY(-100%);
}
.contact {
    grid-column: 2/3;
}
.nav-open h3{
    font-size: 28px;
    padding-bottom: 20px;
}
.logo,.menu {
    z-index: 2;
}
img {
    
    height: 450px;
    width: 420px;
    border-radius: 10px;
    /*box-shadow: 5px 5px 5px grey;*/
    border:1px solid rgb(5, 5, 5);
    box-shadow: 4px 4px 3px rgb(5, 5, 5);

 }
div.portrait {
    text-align: center;
    max-height: 90vh;
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: -230px;
}
.caption {
    padding-top: 50px;
    display: block;
    font-family: PopReg;
    color: white;
    font-size: 54px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.caption2 {
    font-family: PopLight;
    color: white;
    font-size: 42px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
html{
    margin:0;
    padding:0;
    max-height:100vh;
    overflow:hidden;
  }
  
  body {
    height: 100%;
  }

  @media screen and (max-width: 1074px)
  {
      .caption{
          font-size: 40px;
      }
      .caption2 {
          font-size: 28px;
      }
      img{
          height: 380px;
          width: 350px;
          margin-left: -15px;
      }
    .portrait{
        margin-right: auto;
    }
    .about{
        margin-left: 20%;
        margin-right: 20%;
    }
    .about p{
        font-size: 18px;
    }
    .about h3{
        font-size: 42px;
    }
    .pages h3{
        font-size: 42px;
    }
  }

  @media screen and (max-width: 794px)
  {
    img{
        height: 380px;
        width: 350px;
        margin-left: -50px;
    }
      .caption{
          font-size: 34px;
         
          margin-left: -50px;
      }
      .caption2 {
          font-size: 22px;
          margin-left: -50px;
      }
      .about{
          margin-left:10%;
      }
      .about h3{
          font-size: 24px;
        
      }
      .about p{
          font-size: 16px;
      }
      .pages h3{
          font-size: 20px;
      }
  }
  @media screen and (max-width: 678px)
  {
    img{
        height: 300px;
        width: 270px;
        margin-left: -50px;
    }
      .caption{
          font-size: 28px;
          margin-right: 0px;
          
      }
      .caption2 {
          font-size: 20px;
          margin-right: 0px;
        
      }
      .about h3{
        font-size: 20px;
      
    }
    .about p{
        font-size: 13px;
    }
  }
  @media screen and (max-width: 540px)
  {
    
    .pages{
        pointer-events: none;
        opacity: 0;
    }
    
    div.portrait{
        margin: -200px auto;
        text-align: center;
        
    }
    img{
        margin-right: 30%;
    }
    .caption{
        text-align: center;
        
        margin-left: -11%;
        white-space: nowrap;
    }
    .caption2{
        text-align: center;
        
        white-space: nowrap;
        margin-left: -11%;
        margin-right: 0%;
    }
   
    .mobile {
        
        opacity: 1;
        z-index: 2;
        grid-column: 3/4;
        margin-right: -50%;
        pointer-events: all;
        color: black;
        text-decoration: none;
    }
    
    .mobile h3{
        font-size: 15px;
        color: black;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        opacity:1;
    }
    .mobile a{
        text-decoration: none;
    }
   
    .about{
        margin-left: 5%;
        padding: 0;
        margin-right: 5%; 
        margin-top: 25%;
    }
    .about p{
        font-family: PopReg;
        font-size: 14px;
        text-align: justify;
        
    }
    .about h3{
        font-family: PopReg;
        font-size: 18px;
        padding: 0px 0px 20px 0px;
    }
    
    .projects p{
        font-family: PopReg;
        font-size: 14px;
    }
    .projects h3{
        font-size:18px;
    }

    .app-1{
        margin: auto;
        padding: 0;
        max-width: 30vw;
        height: auto;
        width: 50%;
        position: relative;
        
    }
    .textwithpicture {
        display: block;
    }
    .textwithpicture p {
        padding-left: 0;
        text-align: justify;
    }
    .modal-content {
        height: auto;
        width: auto;
        max-width: 50vw;
    }
    .modal-app-1{
        padding: 0;
        margin: 0;
    }
    .scrolling{
        margin-right: -75px;
        margin-left: -75px;
        margin-top: 10px;
    }
    
  }
  @media screen and (max-width: 440px){
    
    img{
      margin-left: -60px;
      
    }
    .caption{
        margin-left: -35px;
        text-align: center;
    }
    .caption2{
        margin-left: -15px;
        text-align: center;
    }
  }
